### Git ###
# Created by git for backups. To disable backups in Git:
# git config --global mergetool.keepBackup false

*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Terraform ###
**/.terraform/*
.terraform.lock.hcl

# Terraform state
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Sensitive variables
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

# macOS
.DS_Store
**/.DS_Store